<div class="well">

	<h1><%= event.title %></h1>
	<p>Creation: <span class="datetime"><%= created %></span></p>
	<p>Modification: <span class="datetime"><%= modified %></span></p>
	<p>Body: <%= event.body %></p>
	<p>Start: <span class="calendar"><%= event.startTime %></span></p>
	<p>End: <span class="calendar"><%= event.endTime %></span></p>
	<p>Location: <%= event.location %></p>
	<p>Owner: <%= event.owner.firstname %> <%= event.owner.lastname %></p>

	<form action="/calendars/<%= event._calendar %>/events/<%= event._id %>" method="post">
	    <input type="submit" value="remove" /></li>
	    <input type="hidden" name="_method" value="delete" />
	</form>

	<a href="/calendars/<%= event._calendar %>">back..</a>
</div>