<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <!--<link rel="stylesheet/less" href="/styles/bootstrap.less">
    <script src="js/less.js"></script>-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body style="padding-top: 60px; padding-bottom: 40px;">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/today">yetoto.</a>
            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user icon-white"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Profile">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
            </form>
        </div>
    </div>
</div>


<div class="container"> 

    <div style="padding-bottom: 100px;">

        <ol class="unstyled">

            <li class="dropdown" style="float: left;">
                <a href="/calendars">
                    <button class="btn btn-info" style="height: 80px;  width: 32px;">
                        <i class="icon-plus icon-white"></i>
                    </button>
                </a>
            </li>
            
            <% for (var i=0; i < calendars.length; i++) { %>

            <li class="dropdown" style= "float: left; margin-left: 5px;">
                <button class="dropdown-toggle thumbnail" data-toggle="dropdown">
                    <img src="<%= calendars[i].picture %>" style="width: 70px; height: 70px;">
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/calendars/<%= calendars[i]._id %>"><i class="icon-info-sign"></i> <%= calendars[i].title %></a></li>
                    <li><a href="<%= calendars[i]._id %>" class="addEvent"><i class="icon-comment"></i> Add Event</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-ban-circle"></i> Hide</a></li>
                    <li><a href="#"><i class="icon-minus"></i> Unsubscribe</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript: submitform<%= calendars[i]._id %>()"><i class="icon-minus"></i> Delete Calendar</a></li>
                    
                    <form id="newCalForm<%= calendars[i]._id %>" action="/calendars/<%= calendars[i]._id %>" method="post">
                        <input type="hidden" name="_method" value="delete" />
                    </form> 
                    <script type="text/javascript">
                        function submitform<%= calendars[i]._id %>()
                        {
                            $(document).ready(function(){
                                $("form#newCalForm<%= calendars[i]._id %>").submit();
                            })
                        };
                    </script>   
                    
                </ul>
            </li>

            <% } %>

        </ol>

    </div>



    <%- body %>

</div>

<!-- dummy modal -->

<div class="modal fade hide" id="eventModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><!-- le title --></h3>
  </div>
  <div class="modal-body">
    <p><!-- le content --></p>
  </div>
  <div class="modal-footer">
    <!-- le buttons -->
  </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/vendors/jquery-1.7.2.min.js"></script>
<script src="/js/vendors/moment.min.js"></script>
<script src="/js/vendors/jquery.timePicker.js"></script>

<script src="/js/jquery.dayview.js"></script>

<script src="/js/vendors/bootstrap-datepicker.js"></script>
<script src="/js/vendors/bootstrap-transition.js"></script>
<script src="/js/vendors/bootstrap-alert.js"></script>
<script src="/js/vendors/bootstrap-modal.js"></script>
<script src="/js/vendors/bootstrap-dropdown.js"></script>
<script src="/js/vendors/bootstrap-scrollspy.js"></script>
<script src="/js/vendors/bootstrap-tab.js"></script>
<script src="/js/vendors/bootstrap-tooltip.js"></script>
<script src="/js/vendors/bootstrap-popover.js"></script>
<script src="/js/vendors/bootstrap-button.js"></script>
<script src="/js/vendors/bootstrap-collapse.js"></script>
<script src="/js/vendors/bootstrap-carousel.js"></script>
<script src="/js/vendors/bootstrap-typeahead.js"></script>


<script type="text/javascript">

    $(document).ready(function() {
        $('#events').dayview();
    });

</script>


<script type="text/javascript">
    $(document).ready(function() {
        
        // Date formatting

        $("span.time").each(function() {
            var time = $(this).text();
            $(this).text(moment(time).format("HH:mm"));
        });

        $("span.calendar").each(function() {
            var time = $(this).text();
            $(this).text(moment(time).calendar());
        });

        $("span.date").each(function() {
            var time = $(this).text();
            $(this).text(moment(time).format("D.M.YYYY"));
        });

        $("span.datetime").each(function() {
            var time = $(this).text();
            $(this).text(moment(time).format("D.M.YYYY - HH:mm"));
        });
        

        // Event Style

        $("div.event .controls form").hide();

        $("div.event").hover(function(){
            $(this).toggleClass("hover");
            $(this).children('div.controls').children('form').toggle();
        });





        // Datepicker:

        /* Update datepicker plugin so that MM/DD/YYYY format is used. */
        $.extend($.fn.datepicker.defaults, {
                parse: function (string) {
                var matches;
                if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
                    return new Date(matches[3], matches[1] - 1, matches[2]);
                } else {
                return null;
            }
        },
        format: function (date) {
                var month = (date.getMonth() + 1).toString(),
                dom = date.getDate().toString();
                if (month.length === 1) {
                    month = "0" + month;
                }
                if (dom.length === 1) {
                    dom = "0" + dom;
                }
                return month + "/" + dom + "/" + date.getFullYear();
            }
        });  

        //Timepicker:

        // Use default settings
        $("#starttime, #endtime").timePicker();
            
        // Store time used by duration.
        var oldTime = $.timePicker("#starttime").getTime();

        // Keep the duration between the two inputs.
        $("#starttime").change(function() {
          if ($("#endtime").val()) { // Only update when second input has a value.
            // Calculate duration.
            var duration = ($.timePicker("#endtime").getTime() - oldTime);
            var time = $.timePicker("#starttime").getTime();
            // Calculate and update the time in the second input.
            $.timePicker("#endtime").setTime(new Date(new Date(time.getTime() + duration)));
            oldTime = time;
          }
        });
        // Validate.
        $("#endtime").change(function() {
          if($.timePicker("#starttime").getTime() > $.timePicker(this).getTime()) {
            $(this).addClass("error");
          }
          else {
            $(this).removeClass("error");
          }
        });


    });
</script>

</body>
</html>